<h1>DAV4Rack Example Application</h1>
<% if user_signed_in? %>
  <p>Signed in as <%= current_user.username %></p>
  <p><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>
<% else %>
  <p><%= link_to 'Login', new_user_session_path %></p>
  <p><%= link_to 'Create Account', new_user_registration_path %></p>
<% end %>

<h2>Welcome to the DAV4Rack Rails Sample Application using Devise and Per-User Subdirectories!</h2>

<p>The <%= link_to 'README file', 'https://github.com/bryanrite/dav4rack-example-devise-subdirectories/blob/master/README.md' %> has the most up-to-date instructions on how to get this sample app running and what it can do.</p>
  